aware-plugin/.idea/
aware-plugin/.gradle
aware-plugin/local.properties
aware-plugin/.idea/workspace.xml
aware-plugin/.idea/libraries
aware-plugin/.DS_Store
aware-plugin/build
aware-plugin/captures
aware-plugin/aware-plugin.iml
aware-plugin/.idea/modules.xml
aware-plugin/app/app.iml
aware-plugin/.idea/gradle.xml
aware-plugin/.idea/modules.xml
